/* pop2019 */
.loopstr{
    width:100%;
    overflow-x:hidden;
    white-space: nowrap;
}

.loopstr p{
    animation: loopstr 100s linear forwards infinite;
    position:relative;


}
@keyframes loopstr {
    0%{
        left:0%;
    }
    100%{
        left:-1000%;
    }
}

/* shade */
.shade{
    opacity: 0;
    visibility: hidden;


}
.shade.show{
    visibility: visible;
    animation:shade 1s linear forwards;


}
.shade img{
    background-color:#ffd56a;
    box-shadow: 20px 20px #a44a8b;
    position:relative;
    bottom:-100px;
}
.shade img.show{
    animation:shade_img 1.5s linear forwards;

}
@keyframes shade {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }

}
@keyframes shade_img{
    0%{
        bottom:-100px;
    }
    100%{
        bottom:0px;
    }
}

.maruline{
    display: inline-flex;
    width:100%;
}
.maruline .box{
    width:33%;


}
.maruline .box .area{
    width:100%;
    height:100%;
    position:relative;
    padding:1em;
}
.maruline  .box .area .maru{
    margin:1em;
    width:100%;
    height:100%;

    border-radius: 50%;
    position:relative;
    top:0px;
    left:0px;

    transition: transform 1s,top 1s,left 1s;
}
.maruline  .box .area .maru.on{
    transform:scale(0.5);
    top:-25%;
    left:0%;
}
.maruline  .box .area .str{
    position:absolute;
    font-size:0.5em;
    bottom:0%;
    width:100%;
    height:45%;
    text-align:center;
    opacity: 0;
    line-height:3em;
    transition: opacity .5s;
    transition-delay: .5s;
}
.maruline  .box .area .str span{
    border-bottom:1px #000 dashed;
}
.maruline  .box .area .str.on{
    opacity: 1;
}
.bk_grn{
    background-color:#bde673;
}
.bk_pp{
    background-color:#7b7bb4;
}



.bk_maru_img{
    background-size:80% 80%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}
